<!-- class="reh-form-sm" -->
<form [formGroup]="formGroupData" (ngSubmit)="onSubmit()">
  <mat-card>
    <div style="padding: 0px !important">
      <div class="row align-items-center px-2" style="height: 56px">
        <div class="col-3">
          <button
            mat-fab
            extended
            class="reh-btn-red"
            type="button"
            (click)="onMessageChange('close')"
          >
            <mat-icon fontSet="material-icons-outlined">close</mat-icon>
            <span class="mat-subtitle-2">ปิด</span>
          </button>
        </div>
        <div class="col-6" align="center">
          @if(formDataSignal().emp_id != 0){
          <span class="mat-headline-5 reh-txt-blue900"
            >เจ้าหน้าที่ : {{ formDataSignal().emp_code }}</span
          >
          }@else {
          <span class="mat-headline-5 reh-txt-blue900"
            >เพิ่มเจ้าหน้าที่ใหม่</span
          >
          }
        </div>
        <div class="col-3" align="end">
          <button mat-fab extended class="reh-btn-blue">
            <mat-icon fontSet="material-icons-outlined">save</mat-icon>
            <span class="mat-subtitle-2">บันทึก</span>
          </button>
        </div>
      </div>
      <mat-divider> </mat-divider>
        <section class="px-2" tabindex="0">
          <div class="lj-viewer-wrapper p-2">
            <div class="row mb-2">
              <div class="col-12">
                <span class="mat-headline-6 reh-txt-blue900"
                  >ข้อมูลคนไข้</span
                >
                <mat-divider></mat-divider>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>คำนำหน้า</mat-label>
                  <input
                    matInput
                    name="emp_title"
                    formControlName="emp_title"
                    required
                  />

                  <mat-error
                    *ngIf="
                      formGroupData.get('emp_title')?.invalid ||
                      formGroupData.get('emp_title')?.touched
                    "
                  >
                    *โปรดระบุ คำนำหน้า</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>ชื่อ</mat-label>
                  <input
                    matInput
                    name="emp_firstname"
                    formControlName="emp_firstname"
                    required
                  />

                  <mat-error
                    *ngIf="
                      formGroupData.get('emp_firstname')?.invalid ||
                      formGroupData.get('emp_firstname')?.touched
                    "
                  >
                    *โปรดระบุ ชื่อ</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>นามสกุล</mat-label>
                  <input
                    matInput
                    name="emp_surname"
                    formControlName="emp_surname"
                    required
                  />

                  <mat-error
                    *ngIf="
                      formGroupData.get('emp_surname')?.invalid ||
                      formGroupData.get('emp_surname')?.touched
                    "
                  >
                    *โปรดระบุ นามสกุล</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>เบอร์</mat-label>
                  <input
                    matInput
                    name="emp_tel"
                    placeholder="เบอร์"
                    formControlName="emp_tel"
                  />
                </mat-form-field>
              </div>

              <div class="col-6">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>เลือก ประเภทเจ้าหน้าที่</mat-label>
                  <mat-select formControlName="emp_role_id" required>
                    <mat-option
                      *ngFor="let dept of departments"
                      [value]="dept.id"
                    >
                      {{ dept.name }}
                    </mat-option>
                  </mat-select>

                  <mat-error
                    *ngIf="
                      formGroupData.get('emp_role_id')?.invalid ||
                      formGroupData.get('emp_role_id')?.touched
                    "
                  >
                    *โปรดเลือก ประเภทเจ้าหน้าที่</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

          </div>
        </section>

    </div>
  </mat-card>
</form>
