<mat-card >
  <div style="padding: 0px !important">
    <div class="row align-items-center px-2" style="height: 48px;">
      <div class="col-6">
        <span class="mat-headline-5 reh-txt-blue900">ข้อมูลคนไข้</span>
      </div>
      <div class="col-6" align="end">
        <button mat-fab extended="" class="reh-btn-green" (click)="onMessageChange()">
          <mat-icon fontSet="material-icons-outlined">add</mat-icon>
          <span class="mat-subtitle-2">เพิ่มคนไข้ใหม่</span></button>
      </div>
    </div>
    <mat-divider color="primary"> </mat-divider>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
      <div class="row px-2 pt-3">
            <div class="col-2">
              <mat-form-field appearance="fill" class="reh-input-full-width">
              <mat-label>ประเภทค้นหา</mat-label>
              <mat-select formControlName="searchOption" name="searchOption" (selectionChange)="onSelectionChange($event)">
                <mat-option *ngFor="let option of searchOptions" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
              @if(searchForm.controls['searchOption']?.value == 'name'){
                <mat-form-field class="reh-input-full-width">
                  <mat-label>ชื่อ-สุกล</mat-label>
                  <input
                    matInput
                    name="searchText"
                    formControlName="searchText"
                    placeholder="กรอก ชื่อ-สุกล"
                  />

                  <mat-error
                    *ngIf="
                      searchForm.get('searchText')?.invalid ||
                      searchForm.get('searchText')?.touched
                    "
                  >
                    *โปรดระบุ ชื่อ-สุกล</mat-error
                  >
                </mat-form-field>
              }@else if(searchForm.controls['searchOption']?.value == 'cid'){
                <mat-form-field class="reh-input-full-width">
                  <mat-label>เลขบัตรประชาชน</mat-label>
                  <input
                    matInput
                    name="searchCid"
                    formControlName="searchCid"
                    placeholder="กรอก เลขบัตรประชาชน"
                  />

                  <mat-error
                    *ngIf="
                      searchForm.get('searchCid')?.invalid ||
                      searchForm.get('searchCid')?.touched
                    "
                  >
                    *โปรดระบุ เลขบัตรประชาชน</mat-error
                  >
                </mat-form-field>
              }@else {
                <mat-form-field class="reh-input-full-width">
                  <mat-label>วันที่ส่งตรวจ</mat-label>
                  <!-- datePickerFormat="YYYY/MM/DD" -->
                  <input
                    matInput
                    name="searchDate"
                    formControlName="searchDate"
                    placeholder="วันที่เริ่ม"
                    [max]="maxDate"
                    [min]="minDate"
                    [matDatepicker]="picker_start"
                    datePickerFormat = "YYYY/MM/DD"

                  />

                  <mat-datepicker-toggle matIconSuffix [for]="picker_start"></mat-datepicker-toggle>
                  <mat-datepicker #picker_start></mat-datepicker>


                  <mat-error
                    *ngIf="
                      searchForm.get('searchDate')?.invalid ||
                      searchForm.get('searchDate')?.touched
                    "
                  >
                    *โปรดระบุ วันที่ส่งตรวจ</mat-error>

                </mat-form-field>
              }

            </div>
            <div class="col-4">
              <div class="button-group mt-2">
                <button style="margin-right: 8px;" mat-fab extended="" color="primary" type="submit" [disabled]="searchForm.invalid">
                  <mat-icon fontSet="material-icons-outlined">search</mat-icon>
                <span class="mat-subtitle-2">ค้นหา</span></button>


                <button mat-fab extended="" color="warn" type="button" (click)="onClear()">
                  <mat-icon fontSet="material-icons-outlined">clear</mat-icon>
                  <span class="mat-subtitle-2">ล้าง</span>
                </button>
              </div>
            </div>
      </div>
    </form>

    <section class="lj-container">


      <div class="row px-2 pt-3">
        <div class="col-12">
          <section class="example-containe lj-viewer-wrapper p-2 m-2"  tabindex="0">

            <div *ngIf="isLoading; else tableTemplate"   style="display: flex; justify-content: center; align-items: center; background: white;height: 256px;">
              <mat-spinner mode="indeterminate"></mat-spinner>
            </div>

            <ng-template #tableTemplate >
              <table mat-table  [dataSource]="dataSource">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>

                    <span class="mat-subtitle-2">ชื่อ-สุกล</span>
                  </th>
                  <td mat-cell *matCellDef="let element">

                    <span class="mat-subtitle-1"> {{ element.patient_title }}{{element.patient_fname}} {{element.patient_lname}}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="patient_no">
                  <th mat-header-cell *matHeaderCellDef>

                    <span class="mat-subtitle-2">คิวตรวจ</span>
                  </th>
                  <td mat-cell *matCellDef="let element">

                    <span class="mat-subtitle-1"> {{ element.patient_no }}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="patient_tel">
                  <th mat-header-cell *matHeaderCellDef>

                    <span class="mat-subtitle-2">เบอร์</span>
                  </th>
                  <td mat-cell *matCellDef="let element">

                    @if(element.patient_tel != ''){

                      <span class="mat-subtitle-1"> {{ element.patient_tel }}</span>
                    }@else {
                      <span class="mat-subtitle-1"> - </span>
                    }
                  </td>
                </ng-container>
                <ng-container matColumnDef="patient_cid">
                  <th mat-header-cell *matHeaderCellDef>

                    <span class="mat-subtitle-2">เลขบัตรประชาชน</span>
                  </th>
                  <td mat-cell *matCellDef="let element">

                    @if(element.patient_cid != ''){

                      <span class="mat-subtitle-1"> {{ element.patient_cid }}</span>
                    }@else {
                      <span class="mat-subtitle-1"> - </span>
                    }
                  </td>
                </ng-container>


                <ng-container matColumnDef="patient_created">
                  <th mat-header-cell *matHeaderCellDef>
                    <span class="mat-subtitle-2">วันที่ตรวจ</span>
                  </th>
                  <td mat-cell *matCellDef="let element">
                      <span class="mat-subtitle-1"> {{ formatDateThai(element.patient_created) }}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions" style="text-align: center;"><span class="mat-subtitle-2">คำสั่ง</span></th>
                  <td mat-cell *matCellDef="let element">
                    <div class="row">
                      <div class="col-6">
                        <button mat-mini-fab   matTooltip="แก้ไขข้อมูลคนไข้" class="reh-btn-green" (click)="updatePatient(element)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                      <div class="col-6">
                        <button  mat-mini-fab matTooltip="ส่งตรวจคนไข้" class="reh-btn-blue" (click)="copyPatient(element)">
                          <mat-icon>medical_information</mat-icon>
                        </button>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumns; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>

                <!-- Row shown when there is no matching data. -->

                <tr class="mat-row" *matNoDataRow style="text-align: center;height: 256px;">
                  <td class="mat-cell" colspan="6">
                    <span class="mat-headline-5 reh-txt-yellow900"> ---ไม่พบข้อมูล --- </span>
                    </td>
                </tr>
              </table>
            </ng-template>

            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]">
            </mat-paginator>


          </section>

        </div>
      </div>

    </section>
  </div>
</mat-card>
