<!-- class="reh-form-sm" -->
<form [formGroup]="formGroupData" (ngSubmit)="onSubmit()">
  <mat-card>
    <div style="padding: 0px !important">
      <div class="row align-items-center px-2" style="height: 48px">
        <div class="col-3">
          <button
            mat-fab
            extended
            class="reh-btn-red"
            type="button"
            (click)="onMessageChange('close')"
          >
            <mat-icon fontSet="material-icons-outlined">close</mat-icon>
            <span class="mat-subtitle-2">ปิด</span>
          </button>
        </div>
        <div class="col-6" align="center">
          @if(idUser() != 0){
          <span class="mat-headline-5 reh-txt-blue900"
            >เจ้าหน้าที่ : {{ codeUser() }}</span
          >
          }@else {
          <span class="mat-headline-5 reh-txt-blue900"
            >เพิ่มเจ้าหน้าที่ใหม่</span
          >
          }
        </div>
        <div class="col-3" align="end">
          <button mat-fab extended class="reh-btn-blue">
            <mat-icon fontSet="material-icons-outlined">save</mat-icon>
            <span class="mat-subtitle-2">บันทึก</span>
          </button>
        </div>
      </div>
      <mat-divider> </mat-divider>
      <section class="lj-container px-1" tabindex="0">
        <section tabindex="0">
          <div class="lj-viewer-wrapper p-2">
            <div class="row mb-2">
              <div class="col-12">
                <span class="mat-headline-6 reh-txt-blue900"
                  >ข้อมูลเจ้าหน้าที่</span
                >
                <mat-divider></mat-divider>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>คำนำหน้า</mat-label>
                  <input
                    matInput
                    name="user_title"
                    formControlName="user_title"
                    required
                  />

                  <mat-error
                    *ngIf="
                      formGroupData.get('user_title')?.invalid ||
                      formGroupData.get('user_title')?.touched
                    "
                  >
                    *โปรดระบุ คำนำหน้า</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>ชื่อ</mat-label>
                  <input
                    matInput
                    name="user_fname"
                    formControlName="user_fname"
                    required
                  />

                  <mat-error
                    *ngIf="
                      formGroupData.get('user_fname')?.invalid ||
                      formGroupData.get('user_fname')?.touched
                    "
                  >
                    *โปรดระบุ ชื่อ</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>นามสกุล</mat-label>
                  <input
                    matInput
                    name="user_lname"
                    formControlName="user_lname"
                    required
                  />

                  <mat-error
                    *ngIf="
                      formGroupData.get('user_lname')?.invalid ||
                      formGroupData.get('user_lname')?.touched
                    "
                  >
                    *โปรดระบุ นามสกุล</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>ตำแหน่ง</mat-label>
                  <input

                    matInput
                    name="user_position"
                    placeholder="ตำแหน่ง"
                    formControlName="user_position"

                  />


                </mat-form-field>
              </div>
            </div>`
          </div>

          <div class="lj-viewer-wrapper p-2">
            <div class="row g-3">
              <div class="col-12">
                <span class="mat-headline-6 reh-txt-blue900"
                  >ข้อมูลเข้าใช้งานระบบ</span
                >
                <mat-divider></mat-divider>
              </div>
            </div>

            <div class="row" style="margin-top:8px !important">
              <div class="col-6">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>ชื่อผู้ใช้งาน</mat-label>
                  <input
                    matInput
                    name="user_username"
                    placeholder="ชื่อผู้ใช้งาน"
                    formControlName="user_username"
                    required
                  />

                  <mat-error
                    *ngIf="
                      formGroupData.get('user_username')?.invalid ||
                      formGroupData.get('user_username')?.touched
                    "
                  >
                    *โปรดระบุ ชื่อผู้ใช้งาน</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>รหัสผ่าน</mat-label>
                  <input
                    matInput
                    name="user_password"
                    placeholder="รหัสผ่าน"
                    formControlName="user_password"
                    required
                  />

                  <mat-error
                    *ngIf="
                      formGroupData.get('user_password')?.invalid ||
                      formGroupData.get('user_password')?.touched
                    "
                  >
                    *โปรดระบุ รหัสผ่าน</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </mat-card>
</form>
