<!-- class="reh-form-sm" -->
<form

  [formGroup]="formGroupData"
  (ngSubmit)="onSubmit()"
>
  <mat-card>
    <div  style="padding: 0px !important">
      <div class="row align-items-center px-2" style="height: 48px">
        <div class="col-3">
          <button
            mat-stroked-button
            class="reh-btn-red"
            type="button"
            (click)="onMessageChange('close')"
          >
            <mat-icon fontSet="material-icons-outlined">close</mat-icon>
            ปิด
          </button>
        </div>
        <div class="col-6 " align="center">
          @if(formDataSignal().emp_id != 0){
          <span class="mat-headline-6 reh-txt-blue900">เจ้าหน้าที่ : {{ formDataSignal().emp_code }}</span>
          }@else {
          <span class="mat-headline-6 reh-txt-blue900">เพิ่มเจ้าหน้าที่ใหม่</span>
          }
        </div>
        <div class="col-3" align="end">
          <button mat-stroked-button class="reh-btn-blue">
            <mat-icon fontSet="material-icons-outlined">save</mat-icon>
            บันทึก
          </button>
        </div>
      </div>
      <mat-divider> </mat-divider>
      <section class="form-container pt-2 px-2" tabindex="0">
        <section tabindex="0">
          <div class="row mb-2">
            <div class="col-12">
              <span class="mat-subtitle-2 reh-txt-blue900">ข้อมูลเจ้าหน้าที่</span>
                <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <mat-form-field class="reh-input-full-width">
                <mat-label>คำนำหน้า</mat-label>
                <input

                  matInput
                  name="emp_title"
                  formControlName="emp_title"
                  required
                />

                <mat-error
                  *ngIf="
                    formGroupData.get('emp_title')?.invalid ||
                    formGroupData.get('emp_title')?.touched
                  "
                >
                  *โปรดระบุ คำนำหน้า</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="reh-input-full-width">
                <mat-label>ชื่อ</mat-label>
                <input
                  matInput
                  name="emp_firstname"
                  formControlName="emp_firstname"
                  required
                />

                <mat-error
                  *ngIf="
                    formGroupData.get('emp_firstname')?.invalid ||
                    formGroupData.get('emp_firstname')?.touched
                  "
                >
                  *โปรดระบุ ชื่อ</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-5">
              <mat-form-field class="reh-input-full-width">
                <mat-label>นามสกุล</mat-label>
                <input
                  matInput
                  name="emp_surname"
                  formControlName="emp_surname"
                  required
                />

                <mat-error
                  *ngIf="
                    formGroupData.get('emp_surname')?.invalid ||
                    formGroupData.get('emp_surname')?.touched
                  "
                >
                  *โปรดระบุ นามสกุล</mat-error
                >
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="reh-input-full-width">
                <mat-label>เบอร์</mat-label>
                <input

                  matInput
                  name="emp_tel"
                  placeholder="เบอร์"
                  formControlName="emp_tel"
                />
              </mat-form-field>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-8">
              <mat-form-field class="reh-input-full-width">
                <mat-label>ตำแหน่ง</mat-label>
                <input

                  matInput
                  name="emp_position"
                  placeholder="ตำแหน่ง"
                  formControlName="emp_position"

                />


              </mat-form-field>
            </div>
          </div> -->


          <!-- <div class="row">
            <div class="col-8 text-center">
              <mat-form-field class="reh-input-full-width mt-2">
                <mat-label>เลือก หน่วยงาน</mat-label>

                <mat-select formControlName="emp_depart">
                  <mat-option>
                    <ngx-mat-select-search
                      [formControl]="searchControl"
                      placeholderLabel="ค้นหา หน่วยงาน"
                      [preventHomeEndKeyPropagation]="true"

                    >

                        <span  ngxMatSelectNoEntriesFound>
                          ไม่พบข้อมูล
                        </span>


                  </ngx-mat-select-search>
                </mat-option>
                @for (option of filteredOptions | async; track option) {
                  <mat-option  [value]="option.id"> {{ option.name }}</mat-option>
                }

                </mat-select>

                <mat-error
                  *ngIf="
                    formGroupData.get('emp_depart')?.invalid ||
                    formGroupData.get('emp_depart')?.touched
                  "
                >
                  *โปรดเลือก หน่วยงาน</mat-error
                >
              </mat-form-field>


            </div>
          </div> -->


          <!-- <div class="row">
            <div class="col-12">
              <mat-label>สถานะ</mat-label>
              <mat-slide-toggle color="primary" formControlName="emp_status">
                @if(formGroupData.get('emp_status')?.value){
                  <span class="reh-txt-green">ใช้งาน</span>
                }@else {
                  <span class="reh-txt-red">ยกเลิก</span>
                }
              </mat-slide-toggle>
            </div>
          </div> -->

          <div class="row g-3" >
            <div class="col-12">
              <span class="mat-subtitle-2 reh-txt-blue900">ข้อมูลเข้าใช้งานระบบ</span>
                <mat-divider></mat-divider>
            </div>
          </div>

          <div class="row mt-3 justify-content-center">

            <div class="col-6">
              <mat-form-field class="reh-input-full-width">
                <mat-label>ชื่อผู้ใช้งาน</mat-label>
                <input

                  matInput
                  name="emp_user"
                  placeholder="ชื่อผู้ใช้งาน"
                  formControlName="emp_user"
                  required
                />

                <mat-error
                  *ngIf="
                    formGroupData.get('emp_user')?.invalid ||
                    formGroupData.get('emp_user')?.touched
                  "
                >
                  *โปรดระบุ ชื่อผู้ใช้งาน</mat-error>

              </mat-form-field>
            </div>

          </div>
          <div class="row justify-content-center" >
            <div class="col-6">
              <mat-form-field class="reh-input-full-width">
                <mat-label>รหัสผ่าน</mat-label>
                <input

                  matInput
                  name="emp_pass"
                  placeholder="รหัสผ่าน"
                  formControlName="emp_pass"
                  required
                />

                <mat-error
                  *ngIf="
                    formGroupData.get('emp_pass')?.invalid ||
                    formGroupData.get('emp_pass')?.touched
                  "
                >
                  *โปรดระบุ รหัสผ่าน</mat-error>

              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-6">
              <mat-form-field class="reh-input-full-width mt-2">
                <mat-label>เลือก ประเภทเจ้าหน้าที่</mat-label>
                <mat-select formControlName="emp_role_id" required>

                  <mat-option
                    *ngFor="let dept of departments"
                    [value]="dept.id"
                  >
                    {{ dept.name }}
                  </mat-option>
                </mat-select>

                <mat-error
                  *ngIf="
                    formGroupData.get('emp_role_id')?.invalid ||
                    formGroupData.get('emp_role_id')?.touched
                  "
                >
                  *โปรดเลือก ประเภทเจ้าหน้าที่</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </section>
      </section>
    </div>
  </mat-card>
</form>
